/**================= Common Styles =================**/

body {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400, 500, 700;
  font-style: normal;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/**================= Common Styles =================**/

/*! ================================================**/

/**================= Header Styles =================**/

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.container-header {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-name {
  font-family: 'Raleway', sans-serif;
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-list-item {
  position: relative;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #2e2f42;
}

.nav-link-studio {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-studio::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  color: #404bbf;
  background-color: #404bbf;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list > li:hover {
  color: #404bbf;
}

.nav-list > li:focus {
  color: #404bbf;
}

.contact-info {
  margin-left: auto;
}

.contact-info-list {
  font-style: normal;
  display: flex;
  gap: 40px;
}

.contact-info-item {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contact-info-item:hover {
  color: #404bbf;
}

.contact-info-item:focus {
  color: #404bbf;
}

.contact-info-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/**================= Header Styles =================**/

/*! ================================================**/

/**================= Hero Section Styles =================**/

.hero-section {
  display: flex;
  max-width: 1440px;
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bckgrnd-img-hero.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-section-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  text-align: center;
  color: #fff;
  /** background-color: #2e2f42;**/
}

.hero-section-title {
  width: 496px;
}

.btn {
  cursor: pointer;
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.btn {
  display: block;
  min-width: 169px;
  height: 56px;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
}

.btn {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
  background-color: #404bbf;
}

.btn:focus {
  background-color: #404bbf;
}

/**================= Hero Section Styles =================**/

/*! ================================================**/

/**================= Benefits Section Styles =================**/

.benefits-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-item {
  width: calc((100% - 72px) / 4);
}

.svg-benefits-item-container {
  display: flex;
  height: 112px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}

.list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #2e2f42;
}
.list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**================= Benefits Section Styles =================**/

/*! ================================================**/

/**================= Our Team Section Styles =================**/

.our-team-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}

.our-team-section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.our-team-section-title {
  margin-bottom: 72px;
}

.team-list-item {
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-list-item {
  border-radius: 0 0 4px 4px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.our-team-container-text .list-title {
  text-align: center;
}

.our-team-container-text .list-text {
  text-align: center;
}

.our-team-container-text {
  padding-top: 32px;
  padding-bottom: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our-team-svg-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.our-team-svg-list-item {
  width: 40px;
  height: 40px;
}

.our-team-svg-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-svg-link:hover {
  background-color: #404bbf;
}

.our-team-svg-link:focus {
  background-color: #404bbf;
}

.our-team-icon {
  fill: #f4f4fd;
}

/**================= Our Team Section Styles =================**/

/*! ================================================**/

/**================= Our Portfolio Section Styles =================**/
.our-portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-portfolio-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  text-align: center;
  color: #2e2f42;
}

.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  align-content: 48px;
  padding-bottom: 12;
}

.our-portfolio-list-item .list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.our-portfolio-list-item .list-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.our-portfolio-list-container {
  display: block;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.our-portfolio-list-container .list-title {
  margin-bottom: 8px;
}

/**================= Our Portfolio Section Styles =================**/

/*! ================================================**/

/**================= Footer Styles =================**/

.footer-section {
  background-color: #2e2f42;
}

.footer-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-section .logo-link {
  display: block;
  margin-bottom: 16px;
}

.footer-text {
  width: 264px;
}

.footer-section .logo-link {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

.footer-section .logo-name {
  font-family: 'Raleway', sans-serif;
  color: #f4f4fd;
}

.footer-section .footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/**================= Footer Styles =================**/
