body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400, 500, 700;
  font-style: normal;
  color: #434455;
  background-color: #ffffff;
}

ul a {
  text-decoration: none;
}

.nav-menu .logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

.nav-menu .logo-name {
  font-family: "Raleway", sans-serif;
  color: #2e2f42;
}

.nav-menu .nav-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-menu .nav-link:hover {
  color: #404bbf;
}

.nav-menu .nav-link:focus {
  color: #404bbf;
}

.contact-info {
  font-style: normal;
}

.contact-info .contact-info-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact-info .contact-info-link:hover {
  color: #404bbf;
}

.contact-info .contact-info-link:focus {
  color: #404bbf;
}

.main-section {
  background-color: #2e2f42;
}

.main-section-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  background-color: #2e2f42;
}

.btn {
  cursor: pointer;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.btn:hover {
  background-color: #404bbf;
}

.btn:focus {
  background-color: #404bbf;
}

.list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.third-section {
  background-color: #f4f4fd;
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    text align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.third-section .team-list {
    background-color: #FFFFFF;
}