/**================= Common Styles =================**/

body {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400, 500, 700;
  font-style: normal;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: #404bbf;
}

button:focus {
  background-color: #404bbf;
}

/**================= Common Styles =================**/

/*! ================================================**/

/**================= Media Common Styles =================**/

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/**================= Media Common Styles =================**/

/*! ================================================**/

/**================= Header Styles =================**/

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  /* padding-bottom: 16px; */
}

.logo-link {
  display: flex;
  padding: 16px 0;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

.logo-name-span {
  font-family: 'Raleway', sans-serif;
  color: #2e2f42;
}

.nav-list {
  display: none;
}

.contact-info {
  display: none;
}

.burger-menu-button {
  border: none;
  background-color: transparent;
  padding: 16px 0;
}

.burger-menu-icon {
  display: block;
  fill: #2f2f37;
}

.container {
  width: 100%;
  height: 100%;
}

/**================= Mobile Menu Styles =================**/

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #ffff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  margin-left: 0;
  margin-right: 0;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-link-studio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #404bbf;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
}

.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-list > li:hover {
  color: #404bbf;
}

.mobile-menu-list > li:focus {
  color: #404bbf;
}

.mobile-menu-contact-info {
  margin-bottom: 48px;
}

.mobile-menu-contact-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
}

.mobile-menu-tell-link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #4d5ae5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-email-link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-contact-link:hover {
  color: #404bbf;
}

.mobile-menu-contact-link:focus {
  color: #404bbf;
}

.social-link-mobile-menu {
  max-width: 320px;
}

.mobile-menu-social-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.mobile-menu-social-item {
  width: 40px;
  height: 40px;
}

.mobile-menu-social-link {
  background-color: #4d5ae5;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-social-link:hover {
  background-color: #404bbf;
}

.mobile-menu-social-link:focus {
  background-color: #404bbf;
}

.mobile-menu-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-menu-social-icon {
  fill: #fff;
}

.mobile-menu-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 1px solid #e7e9fc;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/**================= Mobile Menu Styles =================**/

/*! ================================================**/

/**================= Media header Styles =================**/

@media screen and (min-width: 768px) {
  .burger-menu-button {
    display: none;
  }

  .container-header {
    display: flex;
    align-items: center;
  }

  .nav-menu {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    gap: 40px;
    margin-left: 120px;
  }

  .nav-list-item {
    position: relative;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #2e2f42;
  }

  .nav-link-studio {
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link-studio::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    color: #404bbf;
    background-color: #404bbf;
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link-portfolio {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .nav-link-contacts {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .nav-list > li:hover {
    color: #404bbf;
  }

  .nav-list > li:focus {
    color: #404bbf;
  }

  .contact-info {
    display: flex;
    margin-left: auto;
  }

  .contact-info-list {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .contact-info-item:hover {
    color: #404bbf;
  }

  .contact-info-item:focus {
    color: #404bbf;
  }

  .contact-info-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .nav-list {
    gap: 40px;
    margin-left: 72px;
  }
  .contact-info-list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    flex-direction: row;
    gap: 40px;
  }
}
/**================= Media header Styles =================**/

/*! ================================================**/

/**================= Hero Mob Styles =================**/

.hero-section {
  display: flex;
  width: 320px;
  height: 432px;
  margin: 0 auto;
  padding-top: 72px;
  padding-bottom: 72px;
  background-color: rgba(46, 47, 66, 0.7);
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-img/bckgrnd-mob/bckgrnd-mob-hero.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container-hero-section {
}

.hero-section-title {
  width: 216px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  color: #fff;
}

.btn {
  cursor: pointer;
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.btn {
  display: block;
  min-width: 169px;
  height: 56px;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
}

.btn {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/**================= Media hero Styles =================**/

@media (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-img/bckgrnd-mob/bckgrnd-mob-hero@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    width: 768px;
    height: 436px;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-img/bckgrnd-tab/bckgrnd-tab-hero.jpg);
  }

  .hero-section-title {
    width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    color: #fff;
  }
}

@media (min-resolution: 192dpi) and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-img/bckgrnd-tab/bckgrnd-tab-hero@2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .hero-section {
    width: 100%;
    max-width: 1440px;
    height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-img/bckgrnd/bckgrnd-hero.jpg);
  }

  .hero-section-title {
    margin-bottom: 48px;
  }
}

@media (min-resolution: 192dpi) and (min-width: 1158px) {
  .hero-section {
    width: 100%;
    max-width: 1440px;
    height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-img/bckgrnd/bckgrnd-hero@2x.jpg);
  }
}

/**================= Media hero Styles =================**/

/*! ================================================**/

/**================= Hero Mob Styles =================**/

/*! ================================================**/

/**================= Benefits Section Styles =================**/

.benefits-section {
  min-width: 320px;
  padding-top: 96px;
  padding-bottom: 96px;
}
.container {
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.benefits-item {
}
.svg-benefits-item-container {
  display: none;
}
.list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.list-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 288px;
  color: #434455;
}

/**================= Benefits Section Styles =================**/

/*! ================================================**/

/**================= Media Benefits Styles =================**/

@media screen and (min-width: 768px) and (max-width: 1158px) {
  .benefits-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .benefits-item {
    width: calc((100% - 24px) / 2);
  }

  .list-title {
    text-align: left;
  }

  .list-text {
    line-height: 1.5;
    width: 356px;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1158px) {
  .benefits-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .benefits-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .benefits-item {
    width: calc((100% - 72px) / 4);
  }

  .svg-benefits-item-container {
    display: flex;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
  }

  .list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #2e2f42;
    text-align: left;
  }

  .list-text {
    line-height: 1.5;
    width: 264px;
    letter-spacing: 0.02em;
  }
}

/**================= Media Benefits Styles =================**/

/*! ================================================**/

/**================= Our Team Section Styles =================**/

.our-team-section {
  min-width: 320px;
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #f4f4fd;
}

.our-team-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list-item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  width: 264px;
}

.our-team-container-text .list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.our-team-container-text .list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.our-team-img-list-item {
}

.our-team-container-text .list-title {
  text-align: center;
}

.our-team-container-text .list-text {
  text-align: center;
}

.our-team-container-text {
  padding-top: 32px;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our-team-svg-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
  padding-bottom: 32px;
}

.our-team-svg-list-item {
  width: 40px;
  height: 40px;
}

.our-team-svg-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-svg-link:hover {
  background-color: #404bbf;
}

.our-team-svg-link:focus {
  background-color: #404bbf;
}

.our-team-icon {
  fill: #f4f4fd;
}

/**================= Our Team Section Styles =================**/

/*! ================================================**/

/**================= Media Our Team Section Styles =================**/

@media screen and (min-width: 768px) and (max-width: 1158px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px;
    column-gap: 24px;
  }
}
.team-list-item {
}

@media screen and (min-width: 1158px) {
  .our-team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}

/**================= Media Our Team Section Styles =================**/

/*! ================================================**/

/**================= Our Portfolio Section Styles =================**/

.our-portfolio-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.our-portfolio-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.our-portfolio-list {
  width: 288px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.our-portfolio-list-item .list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  padding-top: 32px;
  text-align: left;
}

.our-portfolio-list-item .list-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-bottom: 32px;
}

.our-portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.our-portfolio-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-list-container {
  display: block;
  border: 1px solid #e7e9fc;
  border-top: none;
  padding-left: 16px;
}

.overlay-text {
  display: none;
}

/**================= Our Portfolio Section Styles =================**/

/*! ================================================**/

/**================= Media Portfolio Section Styles =================**/

@media screen and (min-width: 768px) and (max-width: 1158px) {
  .our-portfolio-list {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .our-portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .our-portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .our-portfolio-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    align-content: 48px;
    padding-bottom: 12;
  }

  .overlay-container {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  .overlay-text {
    display: block;
    position: absolute;
    top: 0;
    padding: 40px 32px;
    height: 100%;
    width: 100%;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .our-portfolio-list-item:hover .overlay-text {
    transform: translateY(0);
  }
}

/**================= Media Portfolio Section Styles =================**/

/*! ================================================**/

/**================= Our footer Section Styles =================**/

.footer-section {
  background-color: #2e2f42;
}

.footer-section {
  padding-top: 96px;
  padding-bottom: 96px;
  min-width: 320px;
}

.footer-section .logo-link {
  font-family: 'Raleway', sans-serif;
  display: block;
  margin-bottom: 16px;
  padding: 0;
}

.footer-section .logo-name {
  font-family: 'Raleway', sans-serif;
  color: #f4f4fd;
}

.footer-logo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-text {
  width: 288px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding-bottom: 72px;
}

.footer-social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-social-text {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer-social-link-list {
  display: flex;
  gap: 16px;
  padding-bottom: 72px;
}

.footer-social-link-item {
  width: 40px;
  height: 40px;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover {
  background-color: #31d0aa;
}

.footer-link:focus {
  background-color: #31d0aa;
}

.footer-icon {
  fill: #f4f4fd;
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.subscribe-label {
}

.subscribe-email-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  margin-bottom: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
}

.subscribe-email-input::placeholder {
  color: #fff;
}

.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
.subscribe-icon {
  margin-left: 16px;
  flex-shrink: 0;
}

/**================= Our footer Section Styles =================**/

/*! ================================================**/

/**================= Media footer Section Styles =================**/

@media screen and (min-width: 768px) {
  .footer-section {
  }

  .container-footer {
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-logo-text {
    display: block;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: 24px;
  }

  .footer-social-container {
    display: block;
    justify-content: flex-start;
    margin-right: auto;
  }

  .subscribe-container {
    display: block;
    flex-direction: row;
    align-items: center;
    margin-left: 108px;
    margin-right: auto;
  }

  .subscribe-form {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    gap: 24px;
  }

  .subscribe-button {
  }

  .subscribe-email-input {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1158px) {
  .footer-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .container-footer {
    display: flex;
    align-items: baseline;
    min-width: 1158px;
    flex-wrap: nowrap;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-text {
    width: 264px;
  }

  .footer-section .logo-link {
    margin-bottom: 0;
  }

  .footer-logo-text {
    margin-right: 120px;
  }

  .footer-social-container {
    margin-right: 80px;
  }

  .subscribe-container {
    margin-left: 0;
  }

  .subscribe-email-input {
    width: 264px;
  }

  .subscribe-button {
    min-width: 165px;
  }

  .subscribe-icon {
    margin-left: 0;
  }
}
/**================= Media footer Section Styles =================**/

/*! ================================================**/

/**================= Modal Overlay Styles =================**/

.modal-overlay {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 16px 24px 16px;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow-y: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: #ffffff;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form-container {
  margin-bottom: 8px;
  width: 100%;
}

.modal-item {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-user-container {
  position: relative;
}

.modal-user-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-user-input:focus {
  border-color: #4d5ae5;
}

.modal-user-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-user-container:focus-within .modal-user-icon {
  fill: #4d5ae5;
}

.modal-textarea-container {
  margin-bottom: 16px;
}

.textarea-item {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-item:focus {
  border-color: #4d5ae5;
}

.modal-checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  width: 256px;
}

.privacy-span {
  display: inline-flex;
  align-items: center;
  min-width: 16px;
  min-height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-privacy-label {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.privacy-text {
  width: 232px;
}

.privacy-link {
  text-decoration: underline;
  color: #4d5ae5;
}

.checkbox-input-item {
  margin: 0;
  width: 16px;
  height: 16px;
}

.checkbox-input-item:checked + .user-privacy-label .privacy-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy-link {
  color: #4d5ae5;
}

.modal-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/**================= Modal Overlay Styles =================**/

/*! ================================================**/

/**================= Media Modal Overlay Styles =================**/

@media screen and (min-width: 768px) {
  .modal {
    padding: 72px 24px 24px 24px;
    width: 408px;
  }

  .privacy-text {
    width: 360px;
  }
}

/**================= Media Modal Overlay Styles =================**/
